@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    gap: 5px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    background-color: #D1D4D4;
    color: black;
    height: 50px;
    width: 50px;
    font-weight: 900;
    font-size: 20px;
    border-radius: 5px;
}


.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row{
    display: flex;
    gap: 10px;
}


.box{
    padding-top: 20px;
    height: 460px;
    width: 320px;
    background-color: #28BAF9;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

input{
    text-align: right;
    width: 100%;
    height: 60px;
    padding: 5px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #B4BFB0;
    color: black;
    font-size: 25px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    font-family: 'Digital-7';
}

.pieconvertor{

    margin-top: 50px;
    display: flex;
    gap: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.cross{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #D1D4D4;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid black;
}
.cross-btn{
    background-color: #D1D4D4;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
}
.span2{
    color: #a0a1a1;
    font-family: 'Roboto';
}

.btn:hover{
    background-color: #a0a1a1;
}

.cross:hover{
    background-color: #a0a1a1;
}
.cross:hover .cross-btn{
    background-color: #a0a1a1;
}

#main>h1{
    font-size: 76px;
    text-decoration: underline;
    text-decoration-color: #28BAF9;
}

h1>span{
    font-family: Canopee;
    color: #28BAF9;
    font-size: 90px;
    text-transform: capitalize;
}